<% if user_signed_in? %>
	<div>
		<h1>Hello</h1>
	</div>	
<% else %>

	<div class="hero-unit">
		<h1>Save Buntingford Library</h1>
		<p class="lead">
			Buntingford Library could be closing within the next year! <br> <br>

			To help save Buntingford Library please <br> <b>sign our petition, available at most shops on the High Street</b> <br> 
			or attend the next public meeting at the Buntingford Library on the <br> <b>3rd of November at 4pm</b>! <br>

			You can also sign our <a href="http://www.change.org/p/hertfordshire-county-council-save-buntingford-library">E-Petition!</a>

			<% link_to "Sign our E-Petition now!", "http://www.change.org/p/hertfordshire-county-council-save-buntingford-library", class: "btn btn-primary btn-Large" %>
		</p>
		
	</div>
	<div>



	</div>
<% end %>