<% if user_signed_in? %>
	<div>
		<h1>Hello</h1>
	</div>	
<% else %>

	<div class="hero-unit">
		<h1>Save Buntingford Library</h1>
		<p class="lead">
			The consultation period ends on the 7th of December 2014! <br> <br>

			A final meeting to consider a submission on behalf of the library will be held at the library on <br><br> <b>Monday 1st December 2014 at 4:00pm!</b> <br><br> 
			In the meantime please sign our petition, which is available in shops along the High Street.<br> <b></b> <br>

			<br> <br> You can also sign our <br> <h3><a href="http://www.change.org/p/hertfordshire-county-council-save-buntingford-library">E-Petition!</a></h3>

			<% link_to "Sign our E-Petition now!", "http://www.change.org/p/hertfordshire-county-council-save-buntingford-library", class: "btn btn-success btn-large" %>
		</p>
		
	</div>
	<div>



	</div>
<% end %>