<% if user_signed_in? %>
	<div>
		<h1>Hello</h1>
	</div>	
<% else %>

	<div class="hero-unit">
		<h2>Save Buntingford Library!</h2>
		<p class="lead">
			The consultation period has ended but you can still make a difference! <br> <br>

			You can sign out petitions available in shops along the High Street.  <br> <br>

			Please visit and like our Facebook page to stay updated!

			<!--<br> <br> You can also sign our <br> <h3><a href="http://www.change.org/p/hertfordshire-county-council-save-buntingford-library">E-Petition!</a></h3>

			<% link_to "Save Buntingford Library", "http://www.change.org/p/hertfordshire-county-council-save-buntingford-library", class: "btn btn-success btn-large" %>-->
		</p>
		
	</div>
	<div>



	</div>
<% end %>